body{
	font-family: "Verdana";
	background-image: url("background.jpg");
	background-color: azure;
}

header{
	position:fixed;
	padding:15px;
	width: 100%;
	height: auto; 
	color:grey;
	font-size:20px;
	font-weight:bold;
	text-align:left;
	background-color: azure;
	z-index:10;
}

nav{
	position:fixed;
	width: 50%;
	left: 25%;
	height: auto; 
	top:18px;
	color:gr18;
	font-size:small;
	text-align:center;
	z-index:10;
}

nav ul li{
    display: inline-block;
}

article{
	position:absolute;
	padding: 5px;
	width: 70%;
	left: 15%;
	height: auto; 
	top:100px;
	color:black;
	font-size:small;
	text-align:center;
	background-color: ivory;
	border-radius:20px;
}

img{
	display:block;
	position:absolute;
	top:-150px;
	left: 300px;
	transform:scale(0.5);
}

h1{
	font-size:24px;
	text-align:left;
}
h2{
	font-size:20px;
	text-align:left;
	text-style:bold;
}
p{
	font-size:20px;
	text-align:left;
}

.lista li{
	list-style-image:url(logo.png);
	text-align:left;
}
footer{
	position: relative;
	top: 1350px;
	}
footer p{
	text-align:center;
	font-size: 17px;	
}